.header {
  padding: 15px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #F0F8FF;
  height: 70vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blueGradient {
  background: linear-gradient(to right, #2c83fb, #1f76f0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.select {
  max-height: 30px;
  outline: none;
  font-family: "PlusJakartaSans-Regular";
  border-radius: 10px;
  padding: 5px;
}

.select option {
  font-family: "PlusJakartaSans-Regular";
}